.blink {
    animation: blink_anim 0.53s step-start infinite;
}

.slowBlink {
    animation: blink_anim 1.06s step-start infinite;
}

@keyframes blink_anim {
    50% { opacity: 0; }
}

.tvBox {
  font-family: 'ibm', monospace;
  color: #ffff55;
  background-color: #5555ff;
  box-shadow: 1ch 1em #000000;
  display: inline-block;
  padding-left: 2ch;
  padding-right: 2ch;
  padding-top: 1ch;
  padding-bottom: 1ch;
  margin-bottom: 2em;
}
